/* this is the important bit */
#accordion_text .contents_viewport{ height: 150px; overflow:hidden; }
.btn { color: blue; cursor: pointer;}
.clearfix:after { content: \".\"; display: block; height: 0;clear: both; visibility: hidden;}
